html{
    height: 100%;
}
body{
    background: white no-repeat;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'heebo-regular', sans-serif;
}
.contain-login{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name-project{
    font-size: 1.6em;
    font-weight: 500;
    color: #0162b6;
    overflow: hidden;
    width: max-content;
    font-family: 'Heebo-SemiBold';
    margin: 10px 0 0 30px;
}
.text-name-project {
  text-transform: uppercase;
  font-size: 0.45em;
  font-family: 'Heebo-Regular';
  color: #2b2b2b;
}

.svg-input{
    width: 20px;
    margin-right: 10px;
    color: #494949;

}

.form-sec-login{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50%;
}
.input-contain{
    border: solid 1px #cdcdcd;
    margin: 10px 0;
    border-radius: 7px;
    padding: 10px 20px;
    box-shadow: rgba(128, 128, 128, 0.159) 0 0 3px;
    display: flex;
    align-items: center;
}
.input-form{
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Heebo-Regular';
    font-size: 0.95em;
    width: 100%;
}
.submit-zone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Heebo-Regular';
}
.forgot-password, .footer{
    color: #858585;
    font-size: 0.8em;
    text-decoration: none;
    font-family: 'Heebo-SemiBold';
    transition: 0.3s;
}
.forgot-password:hover{
    color: #636363;

}
.btn-submit{
    border-radius: 6px;
    padding: 10px 31px;
    color: white;
    background: linear-gradient(to right bottom, #0070ff , #0034ff );
    border: transparent;
    cursor: pointer;
    margin: 0;
}

.eyes{
    cursor: pointer;
}
.no-display{
    display: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #494949;
    font-family: 'Heebo-Regular';
}
.contain-image{
    width: 55%;
    height: 100%;
    background-image: url('../images/pexels-tyler-lastovich-2086917.jpg');
    background-size: cover;
    background-position: center;
}

/* en cas de connection déjà faite */

.icon-profile {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	font-family: Heebo-Regular;
	border-radius: 100px;
	color: white;

	cursor: pointer;
}
.blue{
	background-color: #00a4d7;
}
.red{
	background-color: #e94136;
}
.green{
	background-color: #488865;
}
.yellow{
	background-color: #fa9b4b;
}
.pink{
	background-color: #fea2c7;
}
.text-fixe-profil, .firstname-profil{
    display: flex;
    align-items: center;
}
.contain-profil{
    display: flex;
    cursor: pointer;
    z-index: 1;
}
.chevron-down{
    width: 12px;
    color: #727379;
    margin-left: 12px;
    transition: 0.3s;
}
.firstname-profil {
  color: #404040;
  font-family: Heebo-SemiBold;
  margin: 4px 15px 0 7px;
}
.text-fixe-profil {
  color: #727379;
}
.profil-contain-blc-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: grey 0 0 3px;
    margin: 0 auto;
    border: solid 1px lightgray;
    padding: 15px;
    border-radius: 9px;
    color: initial;
    text-decoration: none;
    margin-bottom: 10px;
}
.infos-profil-blc-action {
    margin-left: 15px;
}
.name-firstname-profil-blc-action {
    display: flex;
    flex-direction: row;
    font-family: 'Heebo-SemiBold';
}
.firstname-profil-blc-action {
    margin-right: 6px;
}
.email-profil-blc-action {
    font-size: 0.8em;
    color: #757575;
}
.re-connect {
    color: grey;
    font-family: 'Heebo-SemiBold';
    text-decoration: none;
    font-size: 0.9em;
}
.erreur-login{
    position: absolute;
    bottom: 30px;
    right: -50px;
    padding: 15px 30px;
    font-family: 'Heebo-Regular';
    border-radius: 11px;
    transition: 0.3s;
    transform: translateX(95px);
    opacity: 0;
    display: flex;
    align-items: center;
    background-color: #ae3535;
    color: white;
}
.connect-notifs{
    background-color: #14627b;
}
.svg-inline--fa.fa-times-circle.fa-w-16 {
  width: 21px;
  cursor: pointer;
  margin-left: 12px;
}
.text-connect-true {
    color: #444444;
    font-family: 'Heebo-Bold';
    font-size: 1.2em;
}
.blc-connect-true {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .contain-login{
        width: 100%;
        height: 100%;
    }
    .form-sec-login{
        width: 45%;
    }
    .contain-image {
        height: 30%;
        width: 100%;
        position: absolute;
        top: 0%;
        z-index: -1;
        background-position-y: 37%;
    }
    body{
        flex-direction: column;
    }
    .text-name-project{
        color: white;
    }
    .name-project {
        color: white;
        margin: 17px 0 0 35px;
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 0;
        color: #494949;
        font-family: 'Heebo-Regular';
    }
    .form-sec-login{
        margin-top: 24%;
    }
    .erreur-login {
        border: solid 2px #ae3535;
        background-color: transparent;
        color: #ae3535;
        padding: 12px;
        font-size: 0.9em;
        bottom: auto;
        top: 33%;
    }
    .connect-notifs{
        border: solid 2px #14627b;
        background-color: transparent;
        color: #14627b;
    }
}
 @media screen and (max-width: 598px) {
    
    .form-sec-login{
        width: 70%;
    }
 }