section.contain-not-found {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
}
section.contain-not-found *{
    margin: 0 auto;
}
section.contain-not-found svg {
    width: 27%;
    height: auto;
    position: relative;
    top: 13px;
}
.text-svg-not-found {
    font-size: 5em;
    width: max-content;
    font-family: 'Heebo-Medium', sans-serif;
    color: gray;
}
p.desc-not-found {
    width: max-content;
    font-size: 1.5em;
    font-family: 'Heebo-Regular', sans-serif;
}
.btn-redirect-not-found {
    width: max-content;
    padding: 10px 20px;
    background: linear-gradient(45deg, #1723a7, #306cdd);
    color: white;
    font-family: 'Heebo-Regular', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px !important;
    text-decoration: none;
}