.blc-account-management {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 61px;
}
.nav-account-management {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}
.title-list-gestion {
    display: flex;
    /* justify-content: space-around; */
}
.search-account-management {
    height: 25px;
    border: none;
}
.separating-filter-info {
    width: 95%;
    border: 1px solid #33393e7d;
    margin-bottom: 0;
}
.title.account-management {
    margin-left: 29px;
    font-size: 1.5em;
}
.btn-new-compte{
    margin-right: 29px;
    padding: 12px;
    border-radius: 6px;
    border: transparent;
    cursor: pointer;
}
.svg-search{
    width: 10px;
}
.blc-search-account-svg {
    width: 211px;
    border-bottom: 2px solid grey;
    height: 30px;
    cursor: pointer;
}

.blc-search-account-svg-filtre-btn {
    display: flex;
    justify-content: space-between;
    width: 39%;
}

.blc-filter-modified {
    display: flex;
    flex-direction: row;
    width: 10%;
}

.separating-text-filter {
    margin: 0;
    margin-left: 130px;
}
.svg-list{
    width: 15px;
    cursor: pointer;
}
/* .filter-modified-account {
    width: 20%;
    border-left: solid 1px #a9b7c357;
    display: flex;
    justify-content: center;
} */
.part-all-info-account-list {
    display: flex;
    align-items: center;
}
.list {display: flex;align-items: baseline;}
.info-account-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 138px;
}
.separating-list {
    width: 75%;
    border-color: #e3e3e32e;
}
.contain-name-firstname {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}

.contain-identifiant {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}
.contain-email {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}

.contain-grade {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}

.contain-status {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}

.contain-icon-name-firstname {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}