.nav-account-management {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.title-list-gestion {
    display: flex;
    background: #efefef;
    box-shadow: #c5c5c5 0 1px 3px;
    width: 100%;
    height: 56px;
    font-family: 'Heebo-Regular';
    color: #6e6e6ecc;
}
.search-account-management {
    height: 16px;
    border: none;
    width: 250px;
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
    outline-color: #009bd3;
    color: #009bd3;
}
.separating-filter-info {
    width: 95%;
    border: 1px solid #33393e7d;
    margin-top: 0.1px;
    margin-bottom: 0;
}
.btn-new-compte{
    margin-right: 29px;
    padding: 12px;
    border-radius: 6px;
    border: transparent;
    cursor: pointer;
}
.svg-search{
    width: 10px;
}
.blc-search-account-svg {
    width: 211px;
    border-bottom: 2px solid grey;
    height: 30px;
    cursor: pointer;
}
.blc-search-account-svg-filtre-btn {
    display: flex;
    justify-content: space-between;
    width: 39%;
}
.svg-list{
    width: 15px;
    cursor: pointer;
}
.list {
    display: flex;
    padding-left: 0;
    width: max-content;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 32px;
}
.info-account-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 189px;
}
.separating-list {
    width: 75%;
    border-color: #e3e3e32e;
}
.contain-name-firstname {
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 65px;
}
.contain-identifiant {
    width: 20%;
    display: flex;
    align-items: center;
}
.contain-email {
    width: 27%;
    display: flex;
    align-items: center;
}
.contain-grade {
    width: 18%;
    display: flex;
    align-items: center;
}
.contain-status {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}
.contain-icon-name-firstname {
    display: grid;
    grid-template-columns: 220px;
    margin-left: 80px;
}
.part-all-name-firstname {
    display: flex;
    padding: 10px;
    width: 20%;
    margin: 0;
    margin-bottom: 10px;
    align-items: baseline;
    padding-left: 65px;
}
.filter-modified-account.name-firstname-gestion {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.filter-modified-account.identifiant-gestion {
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.filter-modified-account.email-gestion {
    display: flex;
    justify-content: center;
}
.filter-modified-account.grade-gestion {
    display: flex;
    justify-content: center;
    margin-right: 71px;
}
.filter-modified-account.status-gestion {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
.blc-all-identifiant {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.blc-all-email {
    width: 27%;
    display: flex;
    flex-direction: column;
}
.blc-all-input {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blc-all-name-firstame {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 65px;
}
.blc-all-grade {
    width: 18%;
    display: flex;
    flex-direction: column;
}
.contain-all-title {
    position: fixed;
    background-color: white;
}
.svg-key {
    width: 40px;
    height: 20px;
}
.svg-card {
    width: 24px;
}
.svg-shield {
    width: 53px;
    height: 25px;
}
.svg-check {
    width: 40px;
    height: 25px;
}  
.title-list-gestion svg {
    width: 21px !important;
    margin-right: 15px;
}
.part-all-input {
    margin-right: 20px;
    width: 15%;
    display: flex;
    justify-content: center;
}
.bloc-info-account-list {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Heebo-Regular';
}
.part-all-identifiant {
    width: 20%;
}
.part-all-email {
    width: 27%;
}
.part-all-grade {
    width: 18%;
}
.title.account-management {
    font-size: 1.4em;
}
.checkbox{
    position: relative;
    width: 60px;
    height: 30px;
    appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 20%);
    transition: 0.5s;
    transform: scale(0.7);
}
.checkbox:checked{
    background: #03a9f4;
}
.checkbox:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 20%);
    transition: 0.5s;
} 
input:checked[type="checkbox"]:before{
    left: 30px;
} 