/* Block DISCUSSSION */
html{
    /* min-height: 100%; */
}
.sec-home{
    padding: 55px 0;
    position: absolute;
    top: 62px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    background: linear-gradient(180deg, #e9e9e9, #ededed);
    overflow: hidden;
}
.blc-disc {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    width: 56%;
    height: 100%;
    border-radius: 6px;
    box-shadow: #cccbcb 0 0 8px;
    padding: 25px;
}
.expediteur-profil, .name-firstname-profil-headband-blc-disc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text-blc-disc {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #62606d;
}
.icon-profile, .firstname-profil-blc-disc, .name-profil-blc-disc {
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.message-blc-disc{
    display: flex;
    flex-direction: column;
}
.blc-action-disc {
    background-color: white;
    position: absolute;
    align-self: flex-end;
    align-items: flex-start;
    font-family: 'Heebo-Light', sans-serif;
    border-radius: 6px;
    box-shadow: #cccbcb 0 0 8px 3px;
    padding: 13px 9px;
    margin-right: 20px;
    transform: scale(0.5);
    transform-origin: top right;
    transition: 0.3s;
    opacity: 0;
}
.open-blc-action-disc{
    transform: scale(1);
    opacity: 1;
}
.text-action-disc {
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
}
.text-action-disc:hover{
    font-family: 'Heebo-Thin', sans-serif;
}
.headband-message-blc-disc {
    display: flex;
    justify-content: space-between;
}
.date-receive-message {
    color: #b3b3b3;
    height: min-content;
    font-family: cursive;
    margin-bottom: 4px;
}
.svg-elipse-menu {
    width: 7px;
    color: #8c8c8c;
    cursor: pointer;
}
.text-disc {
    margin: 10px 0 0;
}
.firstname-profil-blc-disc, .name-profil-blc-disc {
    height: min-content;
}
.name-profil-blc-disc {
    font-family: 'Heebo-Light', sans-serif;
    text-transform: uppercase;
}
.firstname-profil-blc-disc {
    font-family: 'Heebo-light', sans-serif;
}
.separating-bar {
    border: solid 1px #ececf1;
    width: 90%;
    margin: 15px auto;
}
.hr-bottom-search {
    border: solid 1px #ececf1;
    width: 100%;
    margin: 8px 0 15px 0;
}
.search-text {
    border: none;
    outline: none;
}
.blc-action-disc {
    background-color: white;
    position: absolute;
    align-self: flex-end;
    align-items: flex-start;
    font-family: 'Heebo-Light', sans-serif;
    border-radius: 6px;
    border: solid transparent 2px;
    box-shadow: #cccbcb 0 0 8px 3px;
    padding: 3px 13px;
    width: 107px;
    margin-right: 20px;
}
.blc-profil-user {
    width: 410px;
    border-radius: 5px;
    box-shadow: #cccbcb 0 0 8px;
}
.header-profil-user {
    background-image: url('../images/wallpaper-profil.jpg');
    background-size: cover;
    background-position: center;
    height: 85px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.profil-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 55px;
}
.profil-user .icon-profile {
    width: 70px;
    height: 70px;
    font-size: 2.2em;
    box-shadow: white 0 -1px 13px;
}
.body-profil-user {
    padding: 55px 20px 20px 20px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}
.contain-infos-profil-user {
    font-family: 'Heebo-Medium', sans-serif;
    font-size: 1.1em;
    margin-top: 15px;
}
.title-info-profil-user {
    color: #6e6e6e;
    font-family: 'Heebo-Bold', sans-serif;
    font-size: 0.8em;
}
.welcome-panel {
    background: linear-gradient(to right bottom, #0070ff , #0034ff );
    color: white;
    font-family: 'Heebo-Medium', sans-serif;
    display: flex;
    height: 120px;
    border-radius: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}
svg.svg-inline--fa.fa-door-open.fa-w-20 {
    position: absolute;
    width: 102px;
    color: #ffffff1c;
}

.header-blc-ticket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    /* box-shadow: #e5e5e5 0 2px 3px; */
}
.title-header-blc-ticket {
    font-family: 'Heebo-Bold', sans-serif;
    color: #4e4e4e;
    font-size: 1.2em;
}
.icons-action-header-blc-ticket {
    display: flex;
    align-items: center;
}
.icons-action-header-blc-ticket svg {
    width: 18px;
    color: #4e4e4e;
    margin-left: 12px;
    cursor: pointer;
    transition: 152ms;
    transform-origin: left top;
}
.icons-action-header-blc-ticket svg:hover{
    transform: rotate(4deg);
    color: #2e2e2e;
}
.message-blc-ticket {
    overflow-y: scroll;
    padding-right: 15px;
    display: flex;
    flex-direction: column-reverse;
}
.message-blc-ticket::-webkit-scrollbar-thumb {
    border: 3px solid #ededed;
    border-radius: 20px;
    background-color: #c1c1c1;
}
.message-blc-ticket::-webkit-scrollbar-track {
    background-color: #ededed;
    border-radius: 20px;
}
.message-blc-ticket::-webkit-scrollbar {
    width: 15px;
}
p.empty-message {
    font-size: 2em;
    color: #cdcdcd;
    font-family: monospace;
    align-self: center;
}
@media screen and (max-width: 1150px) {
    body{
        overflow: scroll;
    }
    .sec-home {
        display: flex;
        flex-direction: column;
        bottom: inherit;
    }
    .blc-disc {
        width: 85%;
        height: 600px;
    }
    .contain-right-home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }
    .blc-profil-user, .welcome-panel{
        width: 48%;
        margin-top: 0;
    }
}
@media screen and (max-width: 900px) {
    .contain-right-home {
        display: flex;
        flex-direction: column;
    }
    .blc-profil-user, .welcome-panel{
        width: 100%;
    }
    .welcome-panel{
        margin-top: 30px;
    }
}