.new-ticket{
  height: 100%;
  width: 100%;
  display: none;
}
.part-contact-support {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: 5;
}
.part-text-left form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blc-contact-support {
	width: 57%;
	border: transparent;
	border-radius: 10px;
	box-shadow: grey 0 0 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: end;
	background-color: white;
}
.blc-title-contact-support {
  display: flex;
  width: max-content;
  align-items: baseline;
  margin-bottom: 15px;
}
.title-contact-support.title-contact {
  font-size: 2em;
  margin: 0 10px 0 0;
}
.title-support {
  color: #0162b6;
}
.blc-search-categorie {
  display: flex;
  flex-direction: column;
}
.select-categorie {
  width: 55%;
  background-color: transparent;
  border: none;
  border-radius: 6px;
}
.title-text-categorie {
  padding-bottom: 1%;
  width: max-content;
}
.blc-enter-message {
  display: flex;
  flex-direction: column;
}
.title-text-message {
  padding-bottom: 1%;
}
.text-area-message {
	margin-bottom: 6%;
	resize: none;
	height: 120px;
	padding: 8px;
	font-family: 'Heebo-Regular', sans-serif;
	outline-color: #4b7bd1;
	border-color: #4b7bd1;
	border-radius: 5px;
}
svg {
  width: 75%;
}
  .part-text-left {
  width: 50%;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
.part-svg-right {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(226deg,  #679ce1 , #0729af);
  border-radius: 0 10px 10px 0;
  width: 46%;
  flex-direction: column;
  justify-content: center;
}
.btn-send-ticket {
  display: flex;
  justify-content: flex-end;
}
.input-send-ticket {
  border: transparent;
  padding: 9px 20px;
  background: linear-gradient(135deg,  #0070ff , #0034ff);
  color: white;
}
.input-send-ticket:hover{
  cursor: pointer;
}
.svg-exit-blc-contact-support {
  width: 19px;
  position: fixed;
  color: white;
  padding: 17px 24px 0 0;
}
.band-ticket {
    width: 80%;
    height: 24%;
    background-image: url('../images/band-ticket.jpg');
    background-size: cover;
    background-position-y: 80%;
    border-radius: 100px 0 0 100px;
    align-self: flex-end;
    margin-bottom: 30px;
}
.band-ticket-two {
    width: 73%;
    height: 16%;
    background-image: url('../images/band-ticket-man.jpg');
    background-size: cover;
    background-position-y: 90%;
    border-radius: 0 100px 100px 0;
    margin-top: 20px;
}
.p-ticket-part-svg{
  margin: 40px auto 0;
  font-family: 'Heebo-Regular', sans-serif;
  color: white;
  font-size: 1.2em;
}
.btn-select-cath {
  padding: 5px 8px;
  border: 2px solid #4b7bd1;
  width: max-content;
  border-radius: 5px;
  color: #3c73d5;
  font-family: 'Heebo-Medium', sans-serif;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.9em;
}