body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*! background: linear-gradient(#e8e8e8, #f2f2f2 ) no-repeat; */
    margin: 0;
}
html{
  overflow-x: hidden;
}
.cache{
  opacity: 0 !important;
  
}
.name-project{
    font-size: 1.6em;
    font-weight: 500;
    color: #0162b6;
    overflow: hidden;
    width: max-content;
    font-family: 'Heebo-SemiBold';
}
.text-name-project {
  text-transform: uppercase;
  font-size: 0.45em;
  font-family: 'Heebo-Regular';
  color: #494949;

}
.icon-profile {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	font-family: Heebo-Regular;
	border-radius: 100px;
	color: white;

	cursor: pointer;
}
.blue{
	background-color: #00a4d7;
}
.red{
	background-color: #e94136;
}
.green{
	background-color: #488865;
}
.yellow{
	background-color: #fa9b4b;
}
.pink{
	background-color: #fea2c7;
}
.text-fixe-profil, .firstname-profil{
    display: flex;
    align-items: center;
}
.contain-profil, .contain-profil-mobile{
    display: flex;
    cursor: pointer;
    z-index: 1;
}
.contain-profil-mobile{
  margin-top: 10px;
}
.chevron-down{
    width: 12px;
    color: #727379;
    margin-left: 12px;
    transition: 0.3s;
}
.firstname-profil {
  color: #404040;
  font-family: Heebo-SemiBold;
  margin: 4px 15px 0 7px;
}
.text-fixe-profil {
  color: #727379;
}
.contain-all-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    background-color: #fff;
    box-shadow: #b5b5b5 0 0 3px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu svg{
    width: 20px;
    display: flex;
    align-items: center;
    
}
.p-nav{
    display: flex;
    align-items: center;
    width: max-content;
    color: #62606d ;
    transition: 0.3s;
    margin: 0 15px;
    text-decoration: none;
}
.p-nav:hover {
  cursor: pointer;
  color: #0e779d;
}
.active-link-nav{
    color: #009bd3;
}
.blc-action-profil {
  min-width: 370px;
  position: fixed;
  right: 35px;
  top: 85px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  z-index: 0;
  transition: 0.3s;
  box-shadow: grey 0 0 3px;
}
.profil-contain-blc-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infos-profil-blc-action {
  margin-left: 15px;
}
.name-firstname-profil-blc-action {
  display: flex;
  flex-direction: row;
  font-family: 'Heebo-SemiBold';
}
.firstname-profil-blc-action {
  margin-right: 6px;
}
.email-profil-blc-action {
  font-size: 0.8em;
  color: #757575;
}
.svg-pencil{
    width: 12px;
    color: #04f;
    margin-left: 8px;
    cursor: pointer;
}
.svg-power-off{

    color: #7e0909;
    width: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.svg-power-off:hover{

    color: #db0303;
    width: 20px;
}
.rotate-arrow-top{
    transform: rotate(-180deg);
}
.visible-blc-action-profil{
    transform: translateY(0px);
    opacity: 1;
}
.body-all-sec{
    overflow: auto;
    margin-top: 64px;
}
.menu-burger {
  width: 29px;
  height: 21px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  transition: 0.3s;
  cursor: pointer;
}
.hr-menu-burger {
  margin: 0;
  border-radius: 10px;
  background-color: #6a6a6a;
  border: none;
  height: 2px;
  width: 77%;
  transition: 0.5s;
}
.contain-profil-nav-screen{
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5em;
}
.contain-profil-nav-screen .icon-profile {
	width: 80px;
	height: 80px;
  font-size: 1.6em;
}
@media screen and (max-width: 1250px) {
  .menu-burger {
    display: flex;
    position: absolute;
    z-index: 4;
    right: 50px;
  }
  
  .hr-menu-burger:nth-child(1){
    width: 40%;
  }
  .hr-menu-burger:nth-child(2){
    width: 100%;
  }
  .contain-profil, .menu-verticale{
    display: none;
  }
  .menu-verticale {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    justify-content: space-around;
    padding: 62px;
    transform: translate(100%);
    transition: 0.5s;
    opacity: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .p-nav {
    margin: 10px 0;
    font-size: 1.5em;
  }
  .contain-profil-nav-screen{
    display: flex;
  }

  .menu-burger-mobile {
    align-items: center;
    justify-content: center;
  }
  .hr-menu-burger-two {
    opacity: 0;
    position: absolute;
    transform: translateX(-40px);
  }
  .contain-profil-nav-screen{
    display: flex;
  }
  .nav-mobile{
    opacity: 1;
    transform: translate(0);
  }
  .hr-menu-burger-mobile-one{
    transform: rotate(45deg);
    position: absolute;
    width: 100% !important;
  }
   .hr-menu-burger-mobile-three{
    transform: rotate(-45deg);
    position: absolute;
    width: 100% !important;
  }
  #blc-action-profil {
    position: absolute;
    top: initial;
    right: initial;
    align-self: center;
    margin-bottom: 80px;
  }
}

/* v-1.0.1 */